<h1>New Task</h1>

<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :title %><br>
  <%= f.text_field :title %><br>

  <%= f.label :details %><br>
  <%= f.text_field :details %> <br>

  <%= f.submit %>
<% end %>
